# Folders
.cache/
.idea/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.vs/
__pycache__/
posnetki/
posnetki_sub/
# Extensions
*$py.class
*.py[cod]
*.ffs_db
*.pyproj
*.sln
*.user
# Files
sentinelhub.id
article_a4.tplx
